@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: 'Raleway', sans-serif;
}

.side{
    width: 0vw;
    display: inline-block;
}

.center{
    width: 100vw;
    display: inline-block;
}

.pan{
    text-align: center;
}


.center button.panic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    border: 5px solid darkred;
    font-size: 40px;

}

.center button.panic:hover,.panic:focus{
    background-color: darkred;
}

.center input,select,textarea{
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center input[type=radio],label{
    width: auto;
}

.center .cbutton{
    width: 100%;
    color: #fff;
    background-color: #ff66cc;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-top: 20px;
}

.center form{
    padding: 30px;
    /* font-size:15px;  */

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}